.main{
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
    height: 13em;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0 70px 0 65px;
}
  input{
    width:250px;
    height:40px;
    border-radius: 10px;
    border: 1px white solid;
  }
  @media only screen and (max-width: 780px) {
    .main{
      text-align: center;
      flex-direction: column;
      height: 25em;
  }
  h1{
    margin-top: 0;
  }
  }
