.main {
    background-image: url("../../images/coaches/back.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.coaches {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.anotherCoach,
.mainCoach {
    margin: 10px;
    border: 10px solid rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 50px;
}

.mainCoach {
    width: 18rem;
    height: 100%;
    

}

.mainCoach:hover{
    /* transform: translate(150px,0); */
    /* transition: transform 0.7s ease; */
}

.name {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0px;
}

.description {
    /* margin:9px; */
    font-size: 1.0rem;
}

.mainCoach .mainImage {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}

.icons {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.icons img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.info1 {
    margin-bottom: 0px;
}

.info2 {
    padding: 30px;
}

.between {
    display: flex;
    justify-content: center;
    width: 100%;
}

.line {
    margin-top: 1px;
    background-color: white;
    height: 2.5px;
    width: 80%;
}

/* other */
.anotherCoach {
    filter: blur(10px);
    width: 12rem;
    height: 23rem;
    
    /* width: 25vh;
    height: 50vh; */
    background-color: rgb(255, 0, 0);
}

.anotherCoach .name {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.anotherCoach .description {
    font-size: 0rem;
}

.anotherCoach .info1,
.anotherCoach .info2 {
    height: 50%;
}

.anotherCoach .mainImage {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}

.anotherCoach .icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.anotherCoach .icons img {
    width: 15px;
    height: 15px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 100px;
    /* margin-top: -300px; */

}
.mainRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    cursor: pointer;
    /* margin:20px; */
}

@media only screen and (max-width: 720px) {
    .anotherCoach{
        display: none;
    }
 }

